/* @import '../../.cache/wal/colors-waybar.css'; */
@import '../../dotfiles/wms/waybar/colors.css';
* {
    border: none;
    border-radius: 0px;
    font-family: "Comic Code";
    /* font-weight: bold; */
    font-size: 18px;
    padding: 0px 0px;
    /* margin: 0px 0px; */
    /* min-height: 50px; */
}
#custom-power_profile,
#custom-weather,
#custom-music,
#clock,
#disk,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#window,
#tray,
#custom-notification
#backlight {
    /* font-size: 18px; */
    padding: 0 15px;
    background: @background;
}


window#waybar {
    background: rgba(0,0,0,0);
    color: @foreground-alt;
}
#window,#workspaces button{
    /* font-size:16px; */
    color: white;
}

tooltip {
    background: @background;
    /* border-radius: 10px; */
    /* border-width: 2px; */
    border-style: solid;
    border-color: #11111b;
}


#workspaces button.active {
    color: @color1;
    background: @background-alt;
}

#memory {
    color: @primary;
}

#custom-music {
    /* font-size: 12px; */
    background :@background;
    color: @foreground-alt;
}

#backlight {
    color: @color4;
}

#clock {
    color: @primary;
    /* border-radius: 10px; */
    /* margin-left: 10px; */
    /* border-right: 10px; */
}

#pulseaudio {
    color: @foreground-alt;
}
#battery {
    color: @primary;
    padding:10px;
    /* border-radius: 10px 10px 10px 10px; */
    /* margin-right: 10px */
}
#network, #pulseaudio {
    padding: 0px;
}
#network {
    color: @foreground-alt;
    padding-right: 0px;
    padding-bottom: 0px;
    /* border-radius: 10px 0px 0px 10px; */
    /* border-radius: 10px 10px 10px 10px; */
    /* margin-right: 10px */
}

#bluetooth {
    color: #ffffff;
} 

.red {color: #ffffff;}

#pulseaudio.microphone {
    color: @cursor;
    border-left: 0px;
    border-right: 0px;
    /* border-radius: 0px 10px 10px 0px; */
    /* margin-right: 10px; */
}

#custom-weather {
    border-right: 0px;
}/*}}}*/
#custom-notification {
    padding: 0 10px;
    font-size: 20px;
    background: @background;

}
#custom-power_profile {
padding:0 20px;
}
